@model FutsalApp.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div style="display: none" class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGame" /> @Html.DisplayNameFor(model => model.IsGame)
                </label>
            </div>
            <div style="display: none" class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" readonly />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player1" class="control-label"></label>
                <input asp-for="Player1" class="form-control" />
                <span asp-validation-for="Player1" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player2" class="control-label"></label>
                <input asp-for="Player2" class="form-control" />
                <span asp-validation-for="Player2" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player3" class="control-label"></label>
                <input asp-for="Player3" class="form-control" />
                <span asp-validation-for="Player3" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player4" class="control-label"></label>
                <input asp-for="Player4" class="form-control" />
                <span asp-validation-for="Player4" class="text-danger"></span>
            </div>
            <label>I am not going to play on this date</label>
            <div style="display: none" class="form-group">
                <label asp-for="Player6" class="control-label"></label>
                <input asp-for="Player6" class="form-control" />
                <span asp-validation-for="Player6" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player7" class="control-label"></label>
                <input asp-for="Player7" class="form-control" />
                <span asp-validation-for="Player7" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player8" class="control-label"></label>
                <input asp-for="Player8" class="form-control" />
                <span asp-validation-for="Player8" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player9" class="control-label"></label>
                <input asp-for="Player9" class="form-control" />
                <span asp-validation-for="Player9" class="text-danger"></span>
            </div>
            <div style="display: none" class="form-group">
                <label asp-for="Player10" class="control-label"></label>
                <input asp-for="Player10" class="form-control" />
                <span asp-validation-for="Player10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
